@import "~/sweetalert2/dist/sweetalert2.min.css";

.App-header {
  background-color: #bc3d53;
  /* background-color: aliceblue; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home {
  background-color: #f6f5f4;
  /* background-color: aliceblue; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.row {
  background-color: #7e7694;
  margin: 15px 5px;
  color: white;
}
.btn-primary {
  background-color: #bc3d53;
  border-color: #dd1173;
}

.table thead th {
  background-color: #bc3d53;
  color: white;
  position: sticky;
  top: 0;
}
.table-hover tbody tr:hover td {
  background: #f8e7ea;
}
.add-location {
  background-color: white;
  padding: 15px;
}
.row-login {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 0px;
}
span{
  display: inline-block;
  margin-top: 90px;
}
.login-image {
  background-image: url("./image/login-landing.png");
  height: 99vh;
  background-position: LEFT;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login-logo {
  width: 90%;
}

.login-header {
  background-color: #7e7694;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
}

.login-title {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  color: #bc3d53;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
