@import "~/sweetalert2/dist/sweetalert2.min.css";

.App-header {
  background-color: #282c34;
  /* background-color: aliceblue; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home {
  background-color: #282c34;
  /* background-color: aliceblue; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
