@import "~/sweetalert2/dist/sweetalert2.min.css";

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3a2226;
}

.App-header {
  background-color: #bc3d53;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.student-header {
  background-color: #f7f3f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.same-background {
  background-color: #3a2226;
}
.home {
  background-color: #3a2226;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: #bc3d53;
}
.row {
  margin: 15px 5px;
}

.btn-primary {
  background-color: #bc3d53;
  border-color: #bc3d53;
}

.btn-danger {
  background-color: #bc3d53;
  border-color: #bc3d53;
}

.btn-dark {
  background-color: #3f3f3f;
}
.container {
  background-color: #bc3d53;
  margin: 0.6rem 0;
  box-shadow: 14px 22px 15px -16px rgba(0, 0, 0, 0.52);
}
.create-code-container {
  color: black;
  font-size: 1.2rem;
  background-color: #bc3d53;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 14px 22px 15px -16px rgba(0, 0, 0, 0.52);
}

.width {
  width: 100%;
}

.logOut {
  color: black;
  text-decoration: none;
  padding: 0;
}
.logOut:hover {
  color: black;
  text-decoration: none;
  background-color: #eee;
}

.ion {
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-jumbotron {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}
.dust-bin {
  display: flex;
  align-items: center;
}

.margin-top {
  margin-top: 5rem;
}

.welcomeAdmin {
  position: absolute;
  margin: 5rem 0 0 15%;
  color: #bc3d53;
}

.table thead th {
  background-color: #bc3d53;
  color: white;
  position: sticky;
  top: 0;
}
.table-hover tbody tr:hover td {
  background: #f8e7ea;
}
.add-location {
  background-color: white;
  padding: 15px;
}
.row-login {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color:white;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.extra {
  display: inline-block;
  margin-bottom: 90px;
}
.login-image {
  background-image: url("./image/login-landing.png");
  height: 100vh;
  background-position: LEFT;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login-logo {
  width: 100%;
}

.login-header {
  background-color: #7e7694;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
}

.welcome {
  position: absolute;
  margin: 5rem 0 0 15%;
  color: #bc3d53;
}

.login-title {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  color: #bc3d53;
}

.padding-top-bottom {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.home-menu {
  padding: 5px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.home-menu-items {
  margin: 10px;
  width: 40%;
}

.login-button {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.stretch {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-city {
  width: 80%;
  border-bottom: #8391a4 0.6rem solid;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #8391a4;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
}
.col-md-2 {
  padding-right: 5px;
  padding-left: 5px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .stretch {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 759px) {
  .logOut {
    margin-left: 10px;
  }
}
