@import "~/sweetalert2/dist/sweetalert2.min.css";

.App-header {
  background-color: #bc3d53;
  /* background-color: aliceblue; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home {
  background-color: #F6F5F4;
  /* background-color: aliceblue; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.row{
  background-color: #7E7694;
  margin: 15px 5px;
  color: white;
}
.btn-primary{
  background-color: #bc3d53;
  border-color: #dd1173;
}

.table thead th{
  background-color: #bc3d53;
  color: white;
  position: sticky; 
  top: 0;

}
.table-hover tbody tr:hover td {
    background: #f8e7ea;
}


