nav.responsive-toolbar {
  background: "#333";
  height: 60px;
  width: 100%;
  z-index: 10;
  position: fixed;
  ul {
    display: flex;
    margin-inline-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    height: 100%;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #ddd;
    figure {
      margin-inline-start: 0;
      margin-block-end: 0;
      margin-inline-start: 2px;
      margin-inline-end: 0;
      cursor: pointer;
      img {
        height: 3.4rem;
        width: 11rem;
      }
    }

    li {
      list-style-type: none;
      padding: 10px 20px;
      cursor: pointer;
    }
    a {
      color: black;
      text-decoration: none;
    }
    i {
      margin-right: 8px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 759px) {
  nav.responsive-toolbar {
    ul {
      height: 100%;
      width: 300px;
      top: 3.79rem;
      left: -250px;
      position: fixed;
      flex-direction: column;
      box-shadow: 2px 2px 2px 2px rgb(88, 88, 88);
      transition: 300ms ease all;
      padding-right: 2px;
      &.active {
        left: 0px;
      }
      figure {
        position: fixed;
        left: 0;
        top: 10px;
      }
      li {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      i {
        margin-right: 20px;
      }
      a {
        margin-left: 20px;
      }
    }
  }
}
